<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 sidebar">
        <div class="row">
              <% if @location_info %>
                <% @location_info.each do |location| %>
                <div class="thumbnail venue">
                  <img class="venue-image" src= <%= location[:properties][:image_url] %> />
                  <div class="caption">
                    <form action="/saved" class="venue-form">
                    <a class="pointer"><h3 data-lng=<%= location[:geometry][:coordinates][0] %> data-lat= <%= location[:geometry][:coordinates][1] %> > <%= location[:properties][:title] %></h3></a>
                    <p><%= location[:properties][:description] %></p>
                    <p class="features"> Rating: <%= location[:properties][:rating] %> </p>
                    <p class="features"> Category: <%= location[:properties][:category] %> </p>
                    <p class="buttons"> 
                      <button class='btn btn-primary save-button' type='submit'>Save</button>
                      <button class="btn btn-default more-info" data-toggle="modal" data-target="#myModal" type='submit'>More Info</button>
                    </p>
                    <p class='venue-id' hidden><%= location[:properties][:venue_id] %></p>
                    </form>
                  </div>
                </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="col-md-8 main">
      <div id='map'></div>
    </div>

  </div>
</div>

